@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind:wght@300;400;500;600;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #181b1d;

  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-m-header.is-open .t-m-header-background {
  left: 0;
}
.t-m-header-button-wrapper {
  margin-left: auto;
}
.t-m-header-icon {
  display: none;
}

.t-m-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-m-navigation-list.is-open {
  right: 0;
}
.t-m-header-icon-menu {
  display: block;
}

.t-m-header-icon-button.is-open .t-m-header-icon-menu {
  display: none;
}

.t-m-header-icon-button.is-open .t-m-header-icon-close {
  display: block;
}

.t-m-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: auto;
  background: #181b1d;
}

.t-m-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #181b1d;
}
.t-m-header.is-open .t-m-header-background {
  left: 0;
}
.t-m-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-m-header-icon-menu {
  display: block;
}

.t-m-header-icon-button.is-open .t-m-header-icon-menu {
  display: none;
}

.t-m-header-icon-button.is-open .t-m-header-icon-close {
  display: block;
}

.t-m-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0px 16px;
  position: relative;
}

.t-m-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 24px;
  gap: 22px;
  background: #181b1d;
}

.t-m-navigation-list.is-open {
  right: 0;
}

.t-m-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-family: Hind;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

.t-m-navigation-link:hover,
.t-m-navigation-link:focus {
  color: #feea63;
}

.t-m-header.is-open {
  background-color: transparent;
}

.t-m-navigation-img {
  display: none;
}

@media screen and (min-width: 1211px) {
  .t-m-navigation-img {
    display: flex;
  }
  .t-m-header-icon-title {
    display: none;
  }
  .t-m-header-button-wrapper {
    display: none;
  }
  .t-m-header {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .t-m-header-background {
  }
  .t-m-header-icon-button {
    display: none;
  }
  .t-m-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-m-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 100px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-m-navigation-link {
    font-family: Hind;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .t-m-navigation-item-desk {
    display: none;
  }
}
.t-m-home {
  width: 375px;
  height: 742px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Welcome.png");
  margin: auto;
}
.t-m-home-container {
  width: 375px;
  padding: 84px 24px 0px;
  margin: auto;
}
.t-m-home-title-one {
  font-family: Hind;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 100px;
  border: 1px solid #4e5459;
  height: 26px;

  border-radius: 100px;
}
.t-m-home-title {
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 108%;
  letter-spacing: 0%;
  padding: 24px 0px;
}
.t-m-home-text-one {
  font-family: Hind;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}
.t-m-home-text {
  font-family: Hind;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: bottom;
  padding-top: 40px;
}

@media screen and (min-width: 1211px) {
  .t-m-home {
    width: 1440px;
    height: 679px;
    background-image: url("/img/home/Welcome\ \(1\).png");
  }
  .t-m-home-container {
    width: 1440px;
    padding: 148px 40px 80px;
  }

  .t-m-home-title-one {
    font-family: Hind;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .t-m-home-title {
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 108%;
    letter-spacing: 0%;

    padding: 24px 0px;
  }
  .t-m-home-text-one {
    font-family: Hind;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    width: 485px;
  }
  .t-m-home-text {
    font-family: Hind;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: bottom;

    padding-top: 0px;
    width: 433px;
    height: 451px;
    margin: auto 0 0 auto;
  }
}

.t-m-about-title-div {
  display: flex;
  flex-direction: column;
}
.t-m-about-title {
  font-family: Hind;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: CAP_HEIGHT;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  border: 1px solid #4e5459;
  width: fit-content;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-left: 16px;
  border-radius: 100px;
}
.t-m-about-title-text {
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 122%;
  letter-spacing: 0%;
  padding-top: 24px;
}
.t-m-about-text {
  padding-top: 40px;
  font-family: Hind;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: CAP_HEIGHT;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
@media screen and (min-width: 1211px) {
  .t-m-about-title {
    white-space: nowrap;
    font-family: Hind;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .t-m-about-title-text {
    width: 882px;
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 122%;
    letter-spacing: 0%;
  }
  .t-m-about-text {
    padding-top: 60px;
    font-family: Hind;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.t-m-why-container {
  margin: auto;
  width: 375px;
  padding: 100px 16px 0;
}
.t-m-why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.t-m-why-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  border-radius: 20px;
  border: 1px solid #4e5459;
}

.t-m-why-text-bold {
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 108%;
  letter-spacing: 0%;
}
.t-m-why-text {
  font-family: Hind;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;

  color: #adb5bd;
}
.t-m-about-item {
  font-family: Hind;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: CAP_HEIGHT;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
  padding-top: 40px;
  color: #ffffff;
}
.t-m-about-item-two {
  color: #adb5bd;
}
@media screen and (min-width: 1211px) {
  .t-m-why-container {
    width: 1440px;
    padding: 120px 40px 0;
  }

  .t-m-why-list {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .t-m-why-item {
    width: 252.8000030517578px;
    height: 218px;
    padding: 31px 23px;

    border-radius: 20px;
  }
}

.t-m-uniqueness-container {
  margin: auto;
  width: 375px;

  padding: 100px 16px 0;
}
.t-m-uniqueness-list {
  padding-top: 32px;
}
.t-m-uniqueness-item {
  width: 324px;
  height: 486px;
  margin: 0 4px;
}
.t-m-uniqueness-img {
  width: 324px;
  height: 374px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.t-m-uniqueness-text-bold {
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 108%;
  letter-spacing: 0%;
  padding: 24px 0 16px;
}
.t-m-uniqueness-text {
  font-family: Hind;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

.t-m-uniqueness-list-two {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 32px;
}
.t-m-uniqueness-item-two {
  width: 167.5px;
  height: 126px;
  border-radius: 20px;
  padding: 15px;
  border: 1px solid #4e5459;
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 108%;
  letter-spacing: 0%;
}
.t-m-uniqueness-text-two {
  font-family: Hind;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #adb5bd;
  padding-top: 8px;
}
@media screen and (min-width: 1211px) {
  .t-m-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 120px 40px 0;
  }
  .t-m-uniqueness-list {
    padding-top: 32px;
  }
  .t-m-uniqueness-item {
    width: 420px;
    height: 486px;

    margin: 0 12px;
  }
  .t-m-uniqueness-img {
    width: 420px;
    height: 374px;

    border-radius: 20px;
  }
  .t-m-uniqueness-text-bold {
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 108%;
    letter-spacing: 0%;

    padding: 24px 0 16px;
  }
  .t-m-uniqueness-text {
    font-family: Hind;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .t-m-uniqueness-list-two {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 32px;
  }
  .t-m-uniqueness-item-two {
    width: 668px;
    height: 92px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    border-radius: 20px;
    border-width: 1px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 108%;
    letter-spacing: 0%;
  }
  .t-m-uniqueness-text-two {
    font-family: Hind;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    padding-top: 6px;
  }
}

.t-m-how-container {
  margin: auto;
  width: 375px;
  padding: 100px 16px 0;
}
.t-m-how-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 63px;
  height: 570px;
  background-image: url("/img/how/Cards.png");
}

.t-m-how-item {
  width: 343px;
  height: 148px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  gap: 24px;
  border-width: 1px;
  display: flex;
  align-items: start;
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 108%;
  letter-spacing: 0%;
}
.t-m-how-item-number {
  border: 1px solid #4e5459;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-family: Hind;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}
.t-m-how-item-number-two {
  width: 241px;
}
.t-m-how-div {
  display: flex;
  gap: 8px;
  padding-top: 32px;
}
.t-m-how-div-list {
  display: flex;
  flex-direction: column;
  gap: 41.25px;
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 108%;
  letter-spacing: 0%;
  text-align: right;
}
.t-m-how-div-list-two {
  gap: 32.25px;
  font-family: Hind;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #adb5bd;
  text-align: left;
}
.t-m-how-div-img {
  width: 167.5px;
  height: 286px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.t-m-how-gear {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.t-m-how-gear-item {
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;

  border-radius: 20px;

  border: 1px solid #4e5459;
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 108%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1211px) {
  .t-m-how-container {
    margin: auto;
    width: 1440px;
    padding: 120px 40px 0;
  }
  .t-m-how-list {
    flex-direction: row;
    height: 148px;
    background-image: url("/img/how/Cards\ \(1\).png");
  }

  .t-m-how-item {
    width: 411.3333435058594px;
    height: 148px;

    padding: 31px 0px 0 23px;
    gap: 22px;
    border-radius: 10px;
    border-width: 1px;
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 108%;
    letter-spacing: 0%;
  }

  .t-m-how-item-number-two {
    width: 336px;
  }
  .t-m-how-div {
    display: flex;
    gap: 24px;
    padding-top: 0px;
    margin-top: -11px;
    margin-left: 461px;
  }
  .t-m-how-div-list {
    gap: 26px;
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 108%;
    letter-spacing: 0%;
    text-align: right;
  }
  .t-m-how-div-list-two {
    gap: 32px;
    font-family: Hind;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
  }
  .t-m-how-div-img {
    width: 431px;
    height: 286px;

    border-radius: 20px;
  }
  .t-m-how-gear {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 461px;
  }
  .t-m-how-gear-item {
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 108%;
    letter-spacing: 0%;
  }
}

.t-m-characters-container {
  padding: 100px 16px 0;
  margin: auto;
  width: 375px;
}
.t-m-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 8px;
}
.t-m-characters-item {
  width: 343px;
  height: 339.5px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  border-radius: 20px;
  border: 1px solid #4e5459;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-m-characters-text-bold {
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 108%;
  letter-spacing: 0%;
}

.t-m-characters-text {
  font-family: Hind;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #adb5bd;
}
.t-m-characters-text-two {
  padding-top: 40px;
  display: flex;
  align-items: start;
  gap: 8px;
}
.t-m-characters-text-twoq {
  font-family: Hind;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: CAP_HEIGHT;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.t-m-characters-text-twoqq {
  font-family: Hind;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  width: 167.5px;
}
@media screen and (min-width: 1211px) {
  .t-m-characters-container {
    padding: 120px 40px 0;
    margin: auto;
    width: 1440px;
  }

  .t-m-characters-list {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    gap: 24px;
  }
  .t-m-characters-item {
    width: 322px;
    height: 299px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    gap: 16px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 20px;
    border-width: 1px;
  }

  .t-m-characters-text-bold {
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 108%;
    letter-spacing: 0%;
  }

  .t-m-characters-text {
    font-family: Hind;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    color: #adb5bd;
  }
  .t-m-characters-text-two {
    padding-top: 60px;
    display: flex;
    align-items: start;
    gap: 24px;
  }
  .t-m-characters-text-img {
    width: 274px;
    height: 131px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }
  .t-m-characters-text-twoq {
    font-family: Hind;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .t-m-characters-text-twoqq {
    font-family: Hind;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    width: fit-content;
  }
}

.t-m-reviews-container {
  margin: auto;
  padding: 100px 16px 0;
  width: 375px;
}
.t-m-reviews-list {
  padding-top: 40px;
}

.t-m-reviews-item {
  margin: 0 5px;
  width: 324px;
  height: 223px;

  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;

  border-radius: 10px;

  border-radius: 10px;
  border: 1px solid #4e5459;
}

.t-m-reviews-text {
  display: flex;
  align-items: start;
  gap: 16px;
  font-family: Hind;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  height: 132px;
}
.t-m-reviews-text-bold {
  font-family: Hind;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #70777e;
  padding-top: 5px;
  padding-left: 30px;
}

@media screen and (min-width: 1211px) {
  .t-m-reviews-container {
    margin: auto;
    padding: 120px 40px 0;
    width: 1440px;
  }

  .t-m-reviews-list {
    padding-top: 60px;
  }

  .t-m-reviews-item {
    margin: 0 12px;
    width: 322px;
    height: 223px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;

    border-radius: 10px;
  }

  .t-m-reviews-text {
    font-family: Hind;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .t-m-reviews-text-bold {
    font-family: Hind;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
}

.t-m-faq-container {
  padding: 100px 16px;
  width: 375px;
  margin: auto;
}
.t-m-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.t-m-faq-item {
  padding: 24px;

  border: 1px solid #6e7076;

  border-radius: 20px;
}

.t-m-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 108%;
  letter-spacing: 0%;
}

.t-m-faq-answer {
  font-family: Hind;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;

  color: #adb5bd;
}
.t-m-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.t-m-toggle-button img {
  transition: transform 0.3s ease;
  width: 30px;
  height: 30px;
}
.t-m-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.t-m-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 8px;
}

.t-m-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1211px) {
  .t-m-faq-container {
    padding: 120px 40px;
    width: 1440px;
    margin: auto;
  }
  .t-m-faq-list {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .t-m-faq-item {
    padding: 24px;

    border: 1px solid #6e7076;
  }
}
.t-m-container {
  padding: 100px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Hind;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

.t-m-container h1 {
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 108%;
  letter-spacing: 0%;

  margin-bottom: 32px;
}

.t-m-container h2 {
  margin-top: 32px;

  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 122%;
  letter-spacing: 0%;
}

.t-m-container h3 {
  margin-top: 16px;
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 108%;
  letter-spacing: 0%;
}

.t-m-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.t-m-container p {
  margin-top: 10px;
}
.t-m-container a {
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.t-m-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1211px) {
  .t-m-container {
    padding: 124px 40px 100px;
    width: 1440px;
    margin: auto;
    font-family: Hind;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .t-m-container h1 {
    font-family: Barlow;
    font-weight: 500;
    font-style: Medium;
    font-size: 72px;
    leading-trim: NONE;
    line-height: 108%;
    letter-spacing: 0%;
  }

  .t-m-container h2 {
    margin-top: 20px;
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 108%;
    letter-spacing: 0%;
  }

  .t-m-container h3 {
    margin-top: 20px;
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 108%;
    letter-spacing: 0%;
  }

  .t-m-container ul {
    margin-top: 20px;
  }

  .t-m-container ul li {
    margin-bottom: 10px;
  }
  .t-m-container p {
    margin-top: 20px;
  }
}

.t-m-footer-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  color: #adb5bd;
}

.t-m-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.t-m-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Hind;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

.t-m-footer-copyright {
  font-family: Hind;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}
.t-m-footer-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.t-m-footer-q {
  font-family: Hind;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #ffffff;
  padding-bottom: 24px;
}
.t-m-footer-qq {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.t-m-footer-textq {
  font-family: Hind;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;

  text-decoration: none;
  color: inherit;
}
.t-m-footer-pp {
  font-family: Hind;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;

  padding-bottom: 24px;
}
@media screen and (min-width: 1211px) {
  .t-m-footer-container {
    width: 1440px;
    padding: 100px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .t-m-footer-text {
    font-family: Hind;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .t-m-footer-copyright {
    font-family: Hind;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: bottom;
    margin-top: auto;
  }
  .t-m-footer-div {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  .t-m-footer-q {
    padding-bottom: 24px;
  }

  .t-m-footer-pp {
    font-family: Hind;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    width: 432px;
    padding-bottom: 24px;
  }
}

.t-m-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 24px 16px;
  background: #ffffff;

  z-index: 1000;
  display: none;
}

.t-m-cookie-popup-text-two {
  font-family: Hind;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;

  color: #002a34;
}

.t-m-cookie-button-container {
  padding: 32px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.t-m-cookie-button {
  border: 1px solid #1a1815;
  background-color: transparent;
  background: #ffffff;
  width: 167.5px;

  padding: 16px 0;
  font-family: Hind;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;

  border-radius: 4px;
}

#accept-cookies {
  background: #181b1d;

  color: #ffffff;
}

.t-m-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1211px) {
  .t-m-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 133px;
  }

  .t-m-cookie-popup-text-two {
    font-family: Hind;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    width: 837px;
  }

  .t-m-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .t-m-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px;
    display: none;
  }
}
